################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AdvertService/obj
/Applications/bin/Debug/net6.0
/Applications/obj
/Domain/bin/Debug/net6.0
/Domain/obj
/Infrastructer/bin/Debug/net6.0
/Infrastructer/obj
/View/bin/Debug/net6.0
/View/obj
/Tests/bin/Debug/net6.0
/Tests/obj
/Applications/bin/Release/net6.0
/Domain/bin/Release/net6.0
/Infrastructer/bin/Release/net6.0
/Tests/bin/Release/net6.0
/View/bin/Release
